<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>accounts</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="my-3">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <h1>帳本列表</h1>
                    <form action="/logout" method="post" class="d-flex justify-content-between">
                        <a href="/account/create" class="btn btn-success">新增</a>
                        <button class="btn btn-outline-danger ms-auto">登出</button>
                    </form>
                    <hr>

                    <% accounts.forEach(item => {%>
                    <div class="card my-2">
                        <div class="card-body">
                            <h5 class="card-subtitle d-flex justify-content-between">
                                <span><%=item.time%></span>
                                <span class="badge rounded-pill <%= item.type === '-1' ? 'bg-danger' : 'bg-success' %>"><%= item.type === '-1' ? '支出' : '收入' %></span>
                            </h5>
                            <hr>
                            <p class="d-flex card-text justify-content-between">
                                <span class="w-50"><%=item.title%></span>
                                <span><%=item.amount%></span>
                                <a href="/account/update/<%= item.id %>" class="btn btn-outline-primary">更新</a>
                                <a href="/account/<%= item.id %>" class="btn-close"></a>
                            </p>
                        </div>
                    </div>
                    <% }) %>

                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>
</html>